/* * {
  margin: 0;
  padding: 0;
}

.App {
  padding: 10px;
}

.example {
  border: 1px solid;
  padding: 20px;
  text-align: center;
}

.bottle-container {
  width: 100px;
  position: relative;
  padding-top: 1px;
  height: 165px;
  margin: auto;
  margin-top: 10px;
}

.bottle-neck {
  border: 1px solid gray;
  background: lightblue;
  width: 20px;
  height: 15px;
  margin: auto;
  border-bottom: none;
  position: absolute;
  left: 40px;
  top: 1px;
}

.bottle {
  border: 1px solid gray;
  width: 100px;
  height: 150px;
  border-radius: 40px 40px 20px 20px;
  margin-top: 15px;
  background: lightblue;
}

.liquid {
  width: 100px;
  height: 120px;
  position: absolute;
  bottom: -1px;
  left: 1px;
  opacity: 0.6;
  border-radius: 0px 0px 19px 19px;
}

.etiquette {
  width: 80px;
  height: 40px;
  border: 2px solid black;
  background: #ffcb9c;
  position: absolute;
  bottom: 50px;
  left: 10px;
  text-align: center;
  font-size: 30px;
  font-family: Brush Script MT;
  cursor: pointer;
}
.cap-out {
  background: brown;
  width: 18px;
  height: 10px;
  position: absolute;
  left: 42px;
  top: -5px;
  cursor: pointer;
}
.cap-in {
  background: brown;
  width: 18px;
  height: 10px;
  position: absolute;
  left: 42px;
  top: 1px;
  opacity: 0.5;
}
.remove-bottle {
  position: absolute;
  color: red;
  top: 0;
  right: 0;
  border: 1px solid;
  cursor: pointer;
}

.remove-bottle:hover {
  color: white;
  background: red;
}

.d-flex {
  display: flex;
}

.bottle-container.open > .cap-out,
.bottle-container.open > .cap-in {
  opacity: 0;
}

.chat-box {
  border: 1px solid;
  width: 500px;
  height: 500px;
}

.notification {
  margin: 10px;
  padding: 5px;
  background-color: lightblue;
  text-align: center;
} */

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  background-image: linear-gradient(#b3d4ff, #fffeff);
}

::-webkit-scrollbar {
  width: 24px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px 5px rgba(187, 195, 209, 0),
    inset 0 0 0 2px rgba(246, 245, 247, 0.527), inset 0 0 0 4px #b3d4ff;
  border-radius: 12px;
}

::-webkit-scrollbar-button {
  display: none;
}

.menu {
  margin-top: 20px;
  text-align: center;
}

.error {
  color: red;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  background-color: rgb(243, 245, 249);
  box-shadow: inset 4px 5px 5px 0px rgb(14 90 153 / 40%),
    inset -6px -4px 8px 0px rgb(255 255 255 / 40%);
  margin-left: 100px;
  width: 440px;
  height: 300px;
  margin: 20px 0px 20px 100px;
}

.chat-card {
  width: 95%;
  margin-top: 2px;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  height: 100%;
}

.chat-input-field {
  border-radius: 33px;
  background-color: rgb(250, 251, 253);
  box-shadow: 3px 5px 7px 0px rgb(20 60 139 / 40%),
    -6px -5px 5px 2px rgb(246 247 250 / 40%);
  width: 320px;
  height: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  border: none;
  padding: 4px;
  outline: none;
  transition: 0.1s;
}

.chat-input-field:hover {
  padding: 6px;
}

.chat-input-field:focus {
  padding: 6px;
}

button {
  background: linear-gradient(145deg, #4b86fd, #0348d1);
  border: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

button:active {
  box-shadow: inset 4px 4px 9px #4268b5, -4px -4px 9px #ffffff;
}

.chat-input {
  display: flex;
  align-items: center;
}

.card {
  background: white;
}

.mt15 {
  margin-top: 15px;
}
.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.container {
  max-width: 80%;
  margin: auto;
}

.connection-status {
  max-width: 200px;
  margin: 10px auto;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-size: small;
}

.bg-success {
  background-color: green;
}

.bg-warning {
  background-color: orange;
}

.mt20 {
  margin-top: 20px;
}

.border {
  border: 1px solid black;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mill-row > button {
  margin-left: auto;
}

.text-input-container {
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-right: 10px;
  padding: 15px 0px;
  width: 200px;
}

.text-input {
  border: none;
  width: 90%;
}
